@model IEnumerable<Desafio.Contracts.AdoptionContract>

<h2>Adoptions</h2>
<div class="panel panel-default">
    <div class="panel-heading" style="padding:20px">
        <b>Adopters List</b>
        <button type="button" class="btn-sm pull-right">@Html.ActionLink("Add new", "New")</button>
    </div>
    <table id="adoptions_table" class="table">
        <thead>
            <tr>

                <th>
                    Adopter name
                </th>
                <th>
                    Animal name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="adoptions-table-tr">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adopter.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.Animal.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "Remove", new { id = item.Animal.ID }, new { onclick = "return confirm('Confirm delete ?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
