@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Clóvis Colombo, 296<br />
    Res. Cambuy, Araraquara - SP<br />
    <abbr title="Telefone">F:</abbr>
    (16) 9 93569739
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">belvedere.henrique@gmail.com</a><br />
</address>