@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Navigate using the buttons above.</p>
    }
    else
    {
        <p class="lead">Please, authenticate to get full access.</p>

    }
</div>
<div class="row">

</div>